@model Blog.DTOS.UserDTOs.RegisterDTO
@{
    ViewData = null;
}
<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation in HTML | CodingNepal</title>
    <link rel="stylesheet" href="/css/registerPage.css">
    <!-- Fontawesome CDN Link For Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
    <form method="post" action="/User/Add">
        <h2>Form Validation</h2>
        <div class="form-group userName">
            <label for="userName">Full Name</label>
            <input type="text" id="userName" name="UserName" placeholder="Enter your full name">
        </div>
        <div class="form-group email">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="Email" placeholder="Enter your email address">
        </div>
        <div class="form-group password">
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" placeholder="Enter your password">
            <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
        </div>
        <div class="form-group date">
            <label for="dateOfBirth">Birth Date</label>
            <input type="date" id="dateOfBirth" name="DateOfBirth" placeholder="Select your birth date">
        </div>
        <div class="form-group submit-btn">
            <input type="submit" id="btnSave" value="Submit">
        </div>
    </form>


    <script src="/js/registerPage.js"></script>
</body>
</html>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#btnSave').click(function (e) {
                e.preventDefault(); // Formun otomatik submit edilmesini engelle

                var user = {
                    userName: $('#userName').val(),
                    email: $('#email').val(),
                    password: $('#password').val(),
                    dateOfBirth: $('#dateOfBirth').val()
                };

                // AJAX ile kaydetme işlemi
                $.ajax({
                    type: 'POST',
                    url: '/User/Add',
                    data: JSON.stringify(user),
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        Swal.fire('Başarılı!', 'Kullanıcı başarıyla kaydedildi.', 'success');
                        $("input").val(""); // Tüm inputları temizle
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Swal.fire('Hata', 'Kullanıcı kaydedilirken bir sorun oluştu. Detaylar: ' + errorThrown, 'error');
                    }
                });
            });
        });

       


    </script>
}