/* Genel body stili */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
    background-image: linear-gradient(135deg, #89c2d9 25%, transparent 25%, transparent 50%, #89c2d9 50%, #9370DB 75%, transparent 75%, transparent), linear-gradient(135deg, #c19a6b 25%, transparent 25%, transparent 50%, #c19a6b 50%, #89c2d9 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    transition: background-color 0.5s ease, background-image 0.5s ease;
}

    /* Gece temasına geçiş için arka plan ve renk değişiklikleri */
    body.night-mode {
        background-color: #2c3e50;
        background-image: linear-gradient(135deg, #34495e 25%, transparent 25%, transparent 50%, #34495e 50%, #34495e 75%, transparent 75%, transparent);
        color: white;
    }

/* Merkezdeki kutu stili */
.container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    transition: background-color 0.5s ease;
}

/* Gece teması kutusu */
body.night-mode .container {
    background-color: #34495e;
}

/* Form elemanları */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        outline: none;
        transition: border-color 0.3s ease;
    }

        /* Input focus durumu */
        .form-group input:focus {
            border-color: #3498db;
        }

/* Submit butonu */
.form-submit {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .form-submit:hover {
        background-color: #2980b9;
    }

/* Beni Hatırla Checkbox ile label yan yana */
.form-group.remember-me {
    display: flex;
    align-items: center;
}

    .form-group.remember-me input {
        width: auto;
        margin-right: 10px;
    }

/* Secondary buttonlar (Home ve Register için) */
.secondary-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6c757d; /* Bootstrap secondary rengi */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-right: 10px;
}

    .secondary-btn:hover {
        background-color: #5a6268;
    }

.night-mode-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .night-mode-button:hover {
        background-color: #2980b9;
    }
