body {
    background-color: #f8f9fa;
}

h2 {
    color: #343a40;
}

.form-control {
    border-radius: 0.5rem;
}

.form-control-file {
    border-radius: 0.5rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-secondary {
    background-color: #6c757d;
    border: none;
    transition: background-color 0.3s;
}

    .btn-secondary:hover {
        background-color: #5a6268;
    }


.btn-Save{
    margin-top:5px;
}